language: python
python:
  - "3.6"

notifications:
  email:
    recipients:
      - renkeju@gmail.com
    on_success: change
    on_failure: always

install:
  - pip install -r requirements.txt

script:
  - sphinx-build -nW -b html -d build/doctrees . build/html
  - touch build/html/.nojekyll 

# Tell Travis CI to copy the documentation to the gh-pages branch of
# your GitHub repository.
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $TOKEN  # Set in travis-ci.org dashboard, marked secure
  keep-history: true
  on:
    branch: master
  local_dir: build/html/